@import 'tailwindcss';
@config '../../tailwind.config.ts';

@theme {
    --background: #0e0e0e;
    --foreground: #ededed;

    --color-login: #fd8738;
    --color-login-950: #0e0e0e;
    --color-login-900: #121212;
    --color-login-800: #181818;
    --color-login-700: #1a1a1a;
    --color-login-600: #212121;
    --color-login-500: #323232;
    --color-login-400: #424242;
    --color-login-300: #5e5e5e;
    --color-login-200: #727272;
    --color-login-100: #b0b0b0;
    --color-login-50: #ededed;

  /* Responsive breakpoints */
    --breakpoint-2xs:   320px;
    --breakpoint-xs:    480px;
    --breakpoint-sm:    640px;
    --breakpoint-md:    768px;
    --breakpoint-lg:    1024px;
    --breakpoint-xl:    1280px;
    --breakpoint-2xl:   1400px;
}

@utility noscroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

:root {
    --w-sidebar:  13rem;
    --h-navbar:   3.5rem;
    --h-pageInfo: 5rem;
    transition: background 0.4s, color 0.4s;
}

.dark {
    --background: #0e0e0e;
    --foreground: #ededed;

    --color-login: #fd8738;
    --color-login-950: #0e0e0e;
    --color-login-900: #121212;
    --color-login-800: #181818;
    --color-login-700: #1a1a1a;
    --color-login-600: #212121;
    --color-login-500: #323232;
    --color-login-400: #424242;
    --color-login-300: #5e5e5e;
    --color-login-200: #6b6b6b;
    --color-login-100: #b0b0b0;
    --color-login-50: #ededed;
}

.light {
    --background: #ededed;
    --foreground: #0e0e0e;

    --color-login: #fd8738;
    --color-login-950: #bebebe;
    --color-login-900: #c0c0c0;
    --color-login-800: #cfcfcf;
    --color-login-700: #d9d9d9;
    --color-login-600: #e3e3e3;
    --color-login-500: #ebebeb;
    --color-login-400: #f3f3f3;
    --color-login-300: #f7f7f7;
    --color-login-200: #fafafa;
    --color-login-100: #fcfcfc;
    --color-login-50: #ffffff;
}

body {
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.4s, color 0.4s;
}

.link--corner-hover {
    position: relative;
}

.link--corner-hover:after {
    content: ' ';
    position: absolute;
    width: .8em;
    height: .8em;
    bottom: .4em;
    right: .4em;
    border-right: .2em solid transparent;
    border-bottom: .2em solid transparent;
    transition: .2s;
}

.link--corner-hover:hover::after {
    border-color: var(--color-login);
    right: 0.1rem;
    bottom: 0.2rem;
}
