services:
  studentbee:
    container_name: studentbee
    image: studentbee
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    restart: always
    ports:
      - "8400:3000"
    env_file: .env
    depends_on:
      - studentbee_api
    mem_limit: 1g
    cpus: "2.0"

  studentbee_api:
    container_name: studentbee_api
    image: studentbee_api
    build:
      context: ./api
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8401:8080"
    env_file: .env
    depends_on:
      - studentbee_postgres
    mem_limit: 1g
    cpus: "2.0"

  studentbee_postgres:
    image: postgres:18
    container_name: studentbee_database
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U studentbee -d studentbee"]
      interval: 10s
      retries: 5
    mem_limit: 1g
    cpus: "2.0"

volumes:
  postgres_data:
